In [13]:
# Stephanie McKenzie
# ISM4300 - Deliverable (6)
# February 23, 2023


# Create data frames
import pandas as pd
import numpy as mp
import seaborn as sns

# Load data set
iris = sns.load_dataset('iris')

# Drop the species column
del iris["species"]
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
# Add columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [19]:
# Make summary table

mean = list(iris.mean())
stdev = list(iris.std())
mini = list(iris.min())
maxi = list(iris.max())


summary_dict = {'Mean':mean, 'Standard Deviation': stdev,'Minimum': mini, 'Maximum': maxi }

summary_table = pd.DataFrame(summary_dict)

summary_table.head()

       Mean  Standard Deviation  Minimum  Maximum
0  5.843333            0.828066      4.3      7.9
1  3.057333            0.435866      2.0      4.4
2  3.758000            1.765298      1.0      6.9
3  1.199333            0.762238      0.1      2.5
4  8.900667            0.889272      6.8     11.7